.light-theme .e-grid {
  transition: all 0.4s;
  font-family: cursive;
  border: 0px;
}
.light-theme .e-grid .e-row:hover .e-rowcell {
  cursor: pointer;
  background-color: rgba(50, 200, 180, 0.6) !important;
}
.light-theme .e-grid .e-rowcell.e-selectionbackground {
  background-color: rgba(25, 200, 180, 0.8) !important;
  font-weight: 900;
}
.light-theme .e-grid .e-row.e-altrow {
  transition: all 0.4s;
  background-color: rgb(240, 240, 240);
}
.light-theme .e-grid .e-row {
  transition: all 0.4s;
  background-color: rgb(220, 220, 220);
}
/* Row2 */
.light-theme .e-rowcell {
  font-size: 16px !important;
}

/* Header */
.light-theme .e-grid .e-headercell {
  background-color: #555;
  color: #fff;
}

/* Header */
.e-grid .e-headercelldiv {
  font-size: 20px !important;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

/* Row - text color */
.light-theme .e-grid th.e-headercell[aria-sort="ascending"] .e-headertext,
.light-theme .e-grid th.e-headercell[aria-sort="descending"] .e-headertext,
.light-theme .e-grid th.e-headercell[aria-sort="ascending"] .e-sortfilterdiv,
.light-theme .e-grid th.e-headercell[aria-sort="descending"] .e-sortfilterdiv {
  transition: all 0.4s;
  color: #fff;
}

.light-theme .e-pager .e-prevpagedisabled,
.light-theme .e-pager .e-prevpage,
.light-theme .e-pager .e-nextpage,
.light-theme .e-pager .e-nextpagedisabled,
.light-theme .e-pager .e-lastpagedisabled,
.light-theme .e-pager .e-lastpage,
.light-theme .e-pager .e-firstpage,
.light-theme .e-pager .e-firstpagedisabled {
  transition: all 0.4s;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

/* Header - filter icon */
.light-theme
  .e-grid
  .e-gridheader
  .e-icons:not(.e-icon-hide):not(.e-check):not(.e-stop):not(
    .e-icon-reorderuparrow
  ):not(.e-icon-reorderdownarrow) {
  transition: all 0.4s;
  color: #fff;
}

/* Details */

.light-theme .e-grid .e-icons:not(.e-btn-icon) {
  transition: all 0.4s;
  color: #000;
}

/* Filter */
.light-theme .e-grid .e-filterbarcell,
.e-grid .e-filterbarcelldisabled {
  background-color: #fff !important;
  color: #000 !important;
}

/* Dark theme */
.dark-theme .e-grid {
  transition: all 0.4s;
  font-family: cursive;
  border: 0px;
  color: #fff;
}

/* Hover row */

.dark-theme .e-grid .e-row:hover .e-rowcell {
  color: #fff !important;
  background-color: rgba(50, 200, 180, 0.6) !important;
  cursor: pointer;
}

.dark-theme .e-grid .e-rowcell.e-selectionbackground {
  background-color: rgba(25, 200, 180, 0.8) !important;
  font-weight: 900;
}

/* Alt row */
.dark-theme .e-grid .e-row.e-altrow {
  transition: all 0.4s;
  color: #fff;
  background-color: #555;
}

/* Row */
.dark-theme .e-grid .e-row {
  transition: all 0.4s;
  color: #fff;
  background-color: #333;
}

/* Row2 */
.dark-theme .e-rowcell {
  font-size: 16px !important;
}

/* Row text color */
.dark-theme .e-grid .e-rowcell:not(.e-editedbatchcell):not(.e-updatedtd),
.dark-theme
  .e-grid
  .e-detailrowcollapse:not(.e-editedbatchcell):not(.e-updatedtd),
.dark-theme
  .e-grid
  .e-detailrowexpand:not(.e-editedbatchcell):not(.e-updatedtd),
.dark-theme
  .e-grid
  .e-gridcontent
  .e-rowdragdrop:not(.e-editedbatchcell):not(.e-updatedtd),
.dark-theme
  .e-grid
  .e-gridheader
  .e-rowdragdrop:not(.e-editedbatchcell):not(.e-updatedtd),
.dark-theme .e-grid .e-emptyrow:not(.e-editedbatchcell):not(.e-updatedtd) {
  color: #fff;
}

/* Header */
.dark-theme .e-grid .e-headercell {
  transition: all 0.4s;
  color: #ffffff;
  background-color: #686;
}

/* Header - sorting text */
.dark-theme .e-grid th.e-headercell[aria-sort="ascending"] .e-headertext,
.dark-theme .e-grid th.e-headercell[aria-sort="descending"] .e-headertext,
.dark-theme .e-grid th.e-headercell[aria-sort="ascending"] .e-sortfilterdiv,
.dark-theme .e-grid th.e-headercell[aria-sort="descending"] .e-sortfilterdiv {
  transition: all 0.4s;
  color: #fff;
}

/* Header - filter icon */
.dark-theme
  .e-grid
  .e-gridheader
  .e-icons:not(.e-icon-hide):not(.e-check):not(.e-stop):not(
    .e-icon-reorderuparrow
  ):not(.e-icon-reorderdownarrow) {
  transition: all 0.4s;
  color: #fff;
}

/* Footer */
.dark-theme .e-grid .e-gridpager {
  transition: all 0.4s;
  color: #ffffff;
  background-color: #333333;
}

.dark-theme .e-grid .e-gridpager .e-numericitem .e-currentitem {
  transition: all 0.4s;
  background-color: #333333;
  color: #ffffff;
  cursor: pointer;
}

.dark-theme .e-grid .e-gridpager .e-numericitem:hover {
  transition: all 0.4s;
  background-color: #999;
  color: #fff;
}

.dark-theme .e-pager div.e-icons.e-pager-default {
  transition: all 0.4s;
  background-color: #333333;
  color: #ffffff;
}

.dark-theme .e-pager .e-prevpagedisabled,
.dark-theme .e-pager .e-prevpage,
.dark-theme .e-pager .e-nextpage,
.dark-theme .e-pager .e-nextpagedisabled,
.dark-theme .e-pager .e-lastpagedisabled,
.dark-theme .e-pager .e-lastpage,
.dark-theme .e-pager .e-firstpage,
.dark-theme .e-pager .e-firstpagedisabled {
  transition: all 0.4s;
  background-color: #333333;
  color: #ffffff;
  cursor: pointer;
}

.dark-theme .e-pager .e-pagercontainer {
  transition: all 0.4s;
  background-color: #333333;
  color: #ffffff;
}

/* Details */
.dark-theme .e-grid .e-headercell,
.e-grid .e-detailheadercell {
  background-color: #555 !important;
  color: #fff;
}
.dark-theme .e-grid .e-icons:not(.e-btn-icon) {
  color: #fff;
}
.dark-theme .e-detailindentcell,
.dark-theme .e-detailcell {
  background-color: #555 !important;
  color: #fff;
  border-color: #000;
}

.e-grid .e-rowcell,
.e-grid .e-groupcaption,
.e-grid .e-indentcell,
.e-grid .e-recordplusexpand,
.e-grid .e-recordpluscollapse,
.e-grid .e-rowdragdropcell,
.e-grid .e-detailrowcollapse,
.e-grid .e-detailrowexpand,
.e-grid .e-detailindentcell,
.e-grid .e-detailcell,
.e-grid .e-emptyrow.e-show-added-row .e-lastrowcell {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  border-left: 0px;
  border-right: 0px;
}

/* Filter */
.dark-theme .e-grid .e-filterbarcell,
.e-grid .e-filterbarcelldisabled {
  background-color: #555 !important;
  color: #fff !important;
}

.dark-theme .e-input-group input.e-input {
  background-color: #555;
  color: #fff;
}